# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Django
db.sqlite3
media/
staticfiles/
templates/index.html

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
